.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  gap: 20px;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 20px;
}

.btn {
  background-color: white;
  color: rgb(15, 15, 84);
  padding: 9px 15px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: semi-bold;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(15, 15, 84);
  color: white;
}
